@import-normalize;

.Dropdown {
	background-color: grey;
	/* background-color: white; */
	color: white;
	position: relative;
	/* z-index: 2; */
	/* box-shadow: 0px 10px 20px blue inset;   */
}

.Header {
	display: flex;
	background-color: grey;
	/* background-color: white; */
	/* color: white; */
	color: black;
	/* border: 1px solid #cfcfcf;*/
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	/* box-shadow: 0px 10px 10px grey; */
}

.SelectedItemText {
	margin-left: 10px;
}

.DropdownMenu {
	/* background-color: teal; */
	background-color: grey;
	/* display: block; */
	position: absolute;
	color: white;
	/* width: 96.9vw; */
	width: 100%;
	text-indent: 13px;
	max-height: 50vh;
	transition: max-height 0.5s ease-out;
	overflow: auto;
	/* box-shadow: 0px 10px 10px grey; */
	/* height: 125px; */
    /* animation: dropdown 0.2s forwards ease-in; */
}

.DropdownMenu > div {
	/* margin-top: 8px; */
	margin-bottom: 8px;
}

.DropdownMenu > div:first-child {
	margin-top: 8px;
}

.DropdownMenu.Hidden {
	/* display: none; */
	max-height: 0;
	transition: max-height 0.5s ease-out;
}

.DropDownOptions {
	height: 25px;
	padding: 0.3rem;
    animation: dropdown 0.4s forwards ease-in;
}
.DropDownOptions:hover {
	background-color: rgb(129, 228, 228);
}

@keyframes dropdown {
    from {
		height: 0px;
		opacity: 0;
    }

    to {
		height: 25px;
		opacity: 1;
    }
}