@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.DropdownContainer {
	border-radius: 4px;
	border: solid 1px #dbdbdb;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: normal;
	color: #212121;
	position: relative;
}